/* **************************************
    BASE

    color pallet:
    Main brand color: #FFD700
    Dark shades (background, text color): black
    Dark accent: #2c2c2c
    Light accent: #80B6DB
    Light shades (background, text-color): #bcbcbc
************************************* */
section#mission-target img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

section#mission-target {
  background-color: black;
  color: #bcbcbc;
  padding-bottom: 50px;
}

h2 {
  padding: 35px 0;
  text-align: center;
  letter-spacing: 3px;
}

section#mission-target p {
  position: relative;
  font-size: 1.3em;
  top: 30%;
}

section#skills-target {
  background-color: black;
  color: #bcbcbc;
  padding-bottom: 200px;
}

section#skills-target h2 {
  padding-top: 400px;
  margin-bottom: 50px;
}

section#skills-target img {
  height: 30%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: auto;
}

section#skills-target p {
  margin-top: 20px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

section#contact-target {
  background-color: black;
  color: #bcbcbc;
  text-align: center;
  padding-bottom: 100px;
}

section#contact-target a {
  font-size: 50px;
}

section#contact-target a:hover {
  color: white;
}

section#images-target {
  background-color: black;
  color: #bcbcbc;
  padding-bottom: 100px;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 75vh;
  overflow: hidden;
}


.carousel-item:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.carousel-caption {
  z-index: 1;
}


/* **************************************
    MODULES
************************************* */
#hero-section {
  background-image: url("https://live.staticflickr.com/2699/4296129958_7c7d25747f_b.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-attachment: fixed;
  color: #bcbcbc;
}

#hero-section div {
  font-size: 1.2rem;
}


.scroll-top .navbar {
  background-color: transparent !important;
}

#myface {
  max-width: 30vh;
  border-radius: 100%;
  border: 20px solid #FFD700;
}


#footer-section {
  height: 100px;
  color: #bcbcbc;
  background: #2c2c2c;
  text-align: center;
}

#footer {
  position: relative;
  top: 40%;
}

#buttonUp {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 35px;
  border: none;
  outline: none;
  background-color: #FFD700;
  color: white;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 100px;
  opacity: 0;
  transition: all 0.6s;
  z-index: 100;
}

#buttonUp:hover {
  background-color: #555;
}

#buttonUp:active {
  color: #FFD700;
}

/* **************************************
    RELAYOUT
************************************* */

@media only screen and (min-width: 800px) {

  .carousel-item img {
    object-fit: contain;
    object-position: center;
    height: 80vh;
    overflow: hidden;
  }

}